/*id = # (HIGH priority - style a single element, renders once)*/
/*class = . (LOW priority - style as many times as you like*/

#background {
    background-image: url("../images/whiteMarble.jpg")
}

#backgroundColor {
    background-color: rgb(95, 105, 105);
    color: whitesmoke;
}

#footertxt {
    text-align: center;
}

footer {
    border-top: 7px solid #4aaaa5;
    padding-top: 20px;
    padding-bottom: 17px;
    
}

.aboutimg {
    padding: 0px 0px 5px 0px;
}








